
<ul class='pagination pagination-lg'>
    {% if article_list.has_previous %}
        <li><a href="?page={{ article_list.previous_page_number }}{% if request.GET.year %}&year={{ request.GET.year }}{% endif %}{% if request.GET.month %}&month={{ request.GET.month }}{% endif %}">&laquo;</a></li>
    {% else %}
        <li><a class="'disabled">&laquo;</a></li>
    {% endif %}


    {% for page in pages %}
        <li><a href="?page={{ page }}{% if request.GET.year %}&year={{ request.GET.year }}{% endif %}{% if request.GET.month %}&month={{ request.GET.month }}{% endif %}">{{ page }}</a></li>
    {% endfor %}

    {% if article_list.has_next %}
        <li><a href="?page={{ article_list.next_page_number }}{% if request.GET.year %}&year={{ request.GET.year }}{% endif %}{% if request.GET.month %}&month={{ request.GET.month }}{% endif %}">&raquo;</a></li>
    {% else %}
        <li><a class="'disabled">&raquo;</a></li>
    {% endif %}
</ul>
